<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nvd.mapper.SaleMapper">

<!--    /*分页查询销售记录并排序*/-->
<!--    List<Sale> findAllSaleSortByFlag(@Param("flag")Integer flag);-->
    <select id="findAllSaleSortByFlag" resultType="Sale">
        select s.*,p.product_name productName,u.realname realName
        from product p,sale s,user u
        where p.id = s.product_id and u.id = s.user_id
        <choose>
            <when test="flag == 0">
                order by sale_date desc
            </when>
            <otherwise>
                order by total_price desc
            </otherwise>
        </choose>
    </select>
</mapper>